In [1]:
import numpy as np
import pandas as pd

from sql import SQLConnector

##  Load Datasets

In [2]:
df1 = pd.read_csv("data/JAPAN_DATASET.csv")
df1["source"] = "dataset"

In [3]:
df2 = pd.read_csv("data/JAPAN_GEOFON.csv")
df2["source"] = "geofon"

In [4]:
df3 = pd.read_csv("data/japan_earthquakes.csv")
df3["source"] = "usgs"

In [5]:
df = pd.concat([df1, df2, df3]).reset_index(drop=True).rename(columns={"mag": "magnitude"})
df["time"] =  pd.to_datetime(df["time"], format="mixed", utc=True)

## SQL

In [6]:
conn = SQLConnector()

In [7]:
conn.insert(df)

In [8]:
conn.fetch_all()

,time,longitude,latitude,depth,magnitude,region,source
0,2025-09-15 12:45:30.123000+00:00,142.3690,38.3220,35.000,5.1,off east coast of Honshu,dataset
1,2025-09-17 14:10:05+00:00,141.3545,43.0618,10.200,4.8,Hokkaido,dataset
2,2025-09-18 23:11:55+00:00,130.4017,33.5904,12.000,4.9,Fukuoka,dataset
3,2025-09-19 05:00:00+00:00,139.6917,35.6895,999.000,5.5,Tokyo,dataset
4,2025-09-20 14:30:10.789000+00:00,140.4670,37.7650,25.000,4.6,Fukushima Prefecture,dataset
...,...,...,...,...,...,...,...
88,2025-09-08 10:24:29.806000+00:00,140.4434,32.1620,97.964,4.5,Izu Islands,usgs
89,2025-09-08 03:45:47.580000+00:00,141.7538,32.4076,10.000,4.6,Izu Islands,usgs
90,2025-09-07 23:24:22.854000+00:00,137.0576,37.3791,10.329,4.5,Anamizu,usgs
91,2025-09-07 12:31:41.554000+00:00,139.9912,31.4219,124.394,4.3,Izu Islands,usgs
92,2025-09-07 06:51:08.246000+00:00,141.0657,26.2732,117.054,4.5,Bonin Islands,usgs